*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
  color: white;
  
  font-size: 40px;
  
}

form{
  background-color: cadetblue;
  padding: 40px;
}
form input{
  padding: 10px 20px;
  font-size: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
}
form button{
  padding: 10px 20px;
   font-size: 30px;
   margin-left: 20px;
   border-radius: 10px;
   border: none;
   outline: none;
}