*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}
form{
  background-color: #464343;
  padding: 40px;
  display: flex;
  gap: 20px;
}
form input{
  padding: 8px 20px;
  font-size: 25px;
}
form button{
  padding: 8px 20px;
  font-size:25px ;
}