*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#box{
    background-color: red;
    height: 100px;
    width: 100px;
}
#circle{
    background-color: green;
    height: 500px;
    width: 500px;
    border-radius: 50%;
}