*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
}
.section{
  background-color: rgb(131, 131, 203) ;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 button{
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 25px;
  font-weight: 600;
}